@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;700&display=swap');

.background {
    background-color: #ecf0f3;
}


li {
    list-style: none;
}
li::before {
    content: "\2022";
    font-size: 1.5rem;
    margin-right: 10px;
    color: blue;
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #4a0bff;  #6E3CFF
    black: #2a2a2a;
 --light: #d4ae90; #DAB99D 
    --whiteBg: #ffffff;
    --greyBg: #ecf0f3;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--whiteBg);

} */
